body{
	
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
	display: flex;
	flex-direction:column;
	background-image: url('portfoliobg.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;

}
nav{
	background:black;
	display: flex;
	justify-content: space-between;
	text-align: center;
}
nav .logo{
	text-decoration: none;
	color: white;
	font-size: 30px;
}
nav ul{
	list-style: none;
}
nav ul li{
	display: inline-block;
	margin-left: 15px;

}
nav ul li a{
	text-decoration: none;
	margin: 5px;
	padding: 5px;
	color: white;

}
nav ul li a:hover{
	border: 2px solid white;
	border-radius:20px 20px 20px 20px; 
	background: white;
	color: black;

}
section{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 90vh;
	
}
section main{
	
	height: 82vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.photos{
	height: all;
	display: block;
	
}
.int{	
	
	font-size: 30px;
	font-family: sans-serif;
	


}


.int img{
	width: 200px;

}
.int p{
	font-size: 60px;
	justify-content: center;
	box-shadow: 2px 3px 3px;
	animation: type 3s;
	overflow: hidden;

	
}
@keyframes type{
	0%{width: 0%;}
	30%{ width: 30%;}
	70%{width: 70%;}
	

}

/*portfolio image*/
main .photos{
	display: block;
}
.gallary{
	display: flex;
	justify-content: center;
}

.gallary .image1 img{
	width: 140px;
	height: 120px;
	margin: 10px;
	box-shadow: 3px 4px 4px black;

}
.gallary .image2 img{
	width: 140px;
	height: 150px;
	margin: 10px;
	box-shadow: 3px 4px 4px black;
	transition: 3s;

}
.gallary .image3 img{
	width: 180px;
	height: 120px;
	margin: 10px;
	box-shadow: 3px 4px 4px black;

}
.gallary .image4 img{
	width: 140px;
	height: 130px;
	margin: 10px;
	box-shadow: 3px 4px 4px black;
	transition: 3s;

}
.gallary2{
	display: flex;
	justify-content: center;
}


.gallary2 .image5 img{
	width: 140px;
	height: 120px;
	margin: 10px;
	box-shadow: 3px 4px 4px black;
	transition: 3s;

}
.gallary2 .image6 img{
	width: 140px;
	height: 140px;
	margin: 10px;
	box-shadow: 3px 4px 4px black;



}
.gallary2 .image7 img{
	width: 140px;
	height: 150px;
	margin: 10px;
	box-shadow: 2px 3px 3px black;
	transition: 3s;


}
.gallary2 .image8 img{
	width: 180px;
	height: 130px;
	margin: 10px;
	box-shadow: 3px 4px 4px black;

}
.contact{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

}
.contact img{
	width: 150px;
}
.contact .space{
	height: 100%;
	width: 6px;
	background: white;
}
.contact .card{
	display: flex;
	margin: 10px;
	border:1px solid black;
	box-shadow: 2px 3px 3px ;
	background: orange;
}
form{
	flex: 1;
	
	text-align: center;
	display: flex;
	
	align-items: center;
	
}
.fill{
	margin: 20px;
	flex: 1;
	box-shadow: 3px 4px 4px;
}
.msg{
	flex: 1;

}
.msg textarea{
	height: 150px;
	width: 300px;
}
.fill .txt,.msg button{
	margin-bottom: 4px;
	padding: 5px;
	border-radius: 7px 7px 7px 7px;
}


.cv{
	display: flex;
	flex-direction: column;
	
}
.cv img{
	width: 200px;
	margin: 7px;
}
.cv .terms{
	display: flex;
	text-align: center;
	margin: 5px;
}

.cv .terms .skills{
	flex: 1;
	box-shadow: 2px 3px 3px ;
}
.cv .terms .education{
	flex: 1;
}
.cv .terms .work{
	flex: 1;
	box-shadow: 2px 3px 3px ;
}

.cv .term2{
	display: flex;
	text-align: center;
	align-items: center;
	margin-top: 8px;

}
.cv .term2 .interest{
	 flex: 1;
}
.cv .term2 .hobby{
	flex: 1;
	
}

footer{
	background: black;
	display: flex;
	justify-content: center;

}
footer img{
	border-radius: 50px 50px 50px 50px;
	width: 200px;
}
footer .about-text{
	color: white;
	text-align: center;
}
footer .space{
	background: white;
	height: auto;
	width: 3px;
	margin: 5px;
}



/*media queary*/
@media screen and ( max-width: 500px){
   body{
   	display: block;
   }
   section{
   	display: block;
   }
   footer{
   	display: block;
   }
   .gallary{
   	display: block;
   }
   .gallary2{
   	display: block;
   }
   form{
   	display: block;
   }

   .terms{
   	display:flex;
   	flex-direction: column;
   }
   .terms .education{
   box-shadow: 2px 3px 3px;
   }
   .term2{
   	display:flex;
   	flex-direction: column;

   }
}
