body{
	margin: 0px;    
	padding: 0px;
	display: grid;
	background-image: linear-gradient(black,white);/*background image created */
	background-repeat: no-repeat;/* no repetation of background*/
	background-attachment: fixed;/*background can't be moved */
	background-size: cover;/*to cover all the body  */
	
}
header{
	grid-row: 1/2;
	grid-column: 1/3;
	
	padding:7px;
	font-family: sans-serif;/*giving style to letters */
	font-size: 25px;
	color: white;

	animation: change 2s linear infinite;/* animation is done*/
	animation-duration: 4s; /*duration of animation is given */
}
/*menu for all*/
nav{
	grid-row: 2/3;
	grid-column:1/3; 
}

nav ul{
	display: flex;/*to display body child horizontally */
	justify-content: center;/*arranging header in center vertically */
	background-color: black;/*background color for menu is given */
	padding: 14px;
	margin: 0px;


}
nav ul li{
	list-style: none;/* dot is removed*/
	margin: 5px;

}
nav ul li a{
	text-decoration: none;/* underline is romeved*/
	color: white;/*color of pages is white */
	font-family: cursive;/*cursive style is used */
	padding: 10px 10px;
	margin: 5px;

}
nav ul li a:hover{
	border-radius: 2px 3px 3px 3px;/* border is curved*/
	background-color: white;/*background becomes white */
	color: black;/*color of text becomes black */
}
#checkbox {
	display: none;/*checkbox is removed for desktop version */
}
.box{
	background-color: black;/*background is given black */
	border-bottom: 2px solid white;/* */
	color: white;/*color becomes white */
	display: flex;/* flex is used to set them horizontally*/
	justify-content: flex-end;/*from left the flexbox started */
	padding: 7px;/* padding is given*/

}
.box label{
	background-color: white;
	height: 40px;
	width: 50px;
	border-radius: 2px 2px 2px 2px;
	color: black;
	cursor: pointer;/*pointer occours inside it */
	display: flex;/*flex is used to set them horizontally */
	flex-direction: column;/*flex is used to set them vertically */
	justify-content: center;/* arranging header in center vertically*/
	align-items: center;/*arranging header in center horizontally */


}
.box label span{
	background-color: black;/*background of span */
	height: 4px;/*height of lines in hamburgur menu */
	width: 80%;/* width of lines in hamburgur menu*/
	margin: 3px;



}
.box{
	display: none;/*doesn't appear in desktop version */
}



main .int{
	grid-row: 3/4;
	grid-column: 2/3;


	text-align: center;
}

.int img{
	width: 200px;/* width of image*/
	border-radius: 50%;/*image rounded */
	

}

.int p{
	font-family: cursive;/*letters in cursive form */
	font-size: 40px;
	animation: type 4s linear infinite;/*Animation also used to display Quoet.*/
	overflow: hidden;/*to hid the unnecessary part during animation */
	

	
}
@keyframes type{ /* animation on letters which randomly changes from white to black*/
	0%{color:white;}
	
	100%{color:black;}
	
/* */
}

/*portfolio image*/
.photos{ /* Two columns were created*/
	grid-row: 3/4;
	text-align: center;
	display: flex;


	
}

.gallary{ /* Photos are placed in row form*/
	
	display: flex;
	   
}

.gallary .image1 { /* size of an image determined*/
	width: 230px;
	height: 220px;
	background-color: black;
	color: white;
	margin: 10px;
	box-shadow: 3px 4px 4px black;
	
	
	

}
.gallary .image2 {/* size of an image determined*/
	width: 230px;
	height: 250px;
	margin: 10px;
	color: white;
	background-color: black;
	box-shadow: 3px 4px 4px black;

}



.gallary2{
	flex: 1;
	display: block;
	justify-content: center;
}


.gallary2 .image5 img{/* size of an image determined*/
	width: 170px;
	height: 120px;
	margin: 10px;
	box-shadow: 3px 4px 4px black;
	

}
.gallary2 .image6 img{/* size of an image determined*/
	width: 170px;
	height: 140px;
	margin: 10px;
	box-shadow: 3px 4px 4px black;/* giving shadow to image*/



}
.gallary2 .image7 img{/* size of an image determined*/
	width: 170px;
	height: 150px;
	margin: 10px;
	box-shadow: 2px 3px 3px black;
	


}
.gallary2 .image8 img{/* size of an image determined*/
	width: 180px;
	height: 130px;
	margin: 10px;
	box-shadow: 3px 4px 4px black;

}

.contact{ /*contact page is set to row form*/
	grid-row: 3/4;
	grid-column: 1/3;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

}

.contact img{
	width: 150px;
}
.contact .space{
	height: 100%;
	width: 6px;
	background: white;
}

.contact .card{/* card is created in top of form*/
	display: flex;
	margin: 10px;
	border:1px solid black;
	box-shadow: 2px 3px 3px ;
	background: orange;
}

form{ /* two divs are set in column*/
	grid-row: 4/5;
	grid-column: 1/3;	
	text-align: center;
	display: flex;
	
	align-items: center;
	
}
.fill{ /* set to left hand side*/
	margin: 20px;
	flex: 1;
	box-shadow: 3px 4px 4px;
}
.msg{/* set to right hand side*/
	flex: 1;

}
.msg p{  /* design for letters*/
	font-family: cursive;
	font-size: 20px;
	color: white;
	animation: change 3s linear infinite;/*animation for letters created*/
}
@keyframes change{

	0%   {background-color: black;}
  25%  {background-color: #272829;}
  50%  {background-color: black;}
  100% {background-color: #272829;}
}
.msg textarea{
	height: 150px;
	width: 300px;
}
.fill .txt,.msg button{
	margin-bottom: 4px;
	padding: 5px;
	border-radius: 7px 7px 7px 7px;
}
.con {
	grid-row: 5/6;
	grid-column: 1/3;
}


.cv{ /* divs are set into row*/
	grid-row: 3/4;
	grid-column: 1/3;
	display: flex;
	flex-direction: column;
	
}
.cv img{ /* size of an image is determined*/
	width: 200px;
	margin: auto;
	border-radius: 50%;
}
.cv .terms{ /* descriptions were set in column form*/
	display: flex;
	text-align: center;
	margin: 5px;
}

.cv .terms .skills{
	flex: 1;
	box-shadow: 2px 3px 3px ;
	font-family: cursive;
}
.cv .terms .education{
	flex: 1;
	font-family: cursive;
}
.cv .terms .work{
	flex: 1;
	box-shadow: 2px 3px 3px ;
	font-family: cursive;
}

.cv .term2{
	display: flex;
	text-align: center;
	align-items: center;
	margin-top: 8px;


}
.cv .term2 .interest{
	 flex: 1;
	 font-family: cursive;
}
.cv .term2 .hobby{
	flex: 1;
	font-family: cursive;
	
}

.language{
	box-shadow: 2px 3px 3px ;

}
.java,.javascript,.php{/* editing my programming language skills*/
	display: flex;
	justify-content: center;
	align-content: center;
	font-family: cursive;

}

 .know{ /*editing white line  */
	width: 100px;
	height: 10px;
	background: black;
	border-radius: 0px 0px 3px 3px;
	
}
.didnt{/*editing black line  */
	width: 27px;
	height: 10px;
	background: white;
	
	border-radius: 3px 3px;

}
.intro h1{
	text-align: center;
}
.intro p{
	margin: 5px;
}



footer{  /*footer area added with background */
	grid-row:4/5; 
	grid-column:1/3;
	background: black;
	display: flex;
	justify-content: center;

}
footer img{  /*designing image of footer area  */
	border-radius: 50%;
	width: 200px;
}
footer .about-text{ /*designing description of footer area  */
	font-family: cursive;
	color: white;
	text-align: center;
}
footer .space{
	background: white;
	height: auto;
	width: 3px;
	margin: 5px;
}



/*media queary*/
@media screen and ( max-width: 500px){ /*responsive design  */
   body{
   	display: block; /*body is shown in vertical manner */
   }
	nav ul{
	flex-direction: column;/*body is shown in vertical manner */
	display: none;         /*doesn't display in mobile */
	background-color: linear-gradient(black,white);	
  }

nav ul li a{ /*buttons are modified */
	margin: 10px;
	background-color: white;
	color: black;
	
}
nav ul li{
	padding: 10px;/*giving space between buttons */

}

 #checkbox:checked + ul { /*displaying menu onclick of checkbox */
	display: block;
	 }

	 .box{
	 	display: flex;
	 }
   section{
   	display: block;
   }
   footer{ /*footer is shown in vertical manner */
   	display: block;
   }
   .photos{
   	display: block;/*photos is shown in vertical manner */
   }
   .gallary{
   	display: block;/*gallary is shown in vertical manner */
   }
   .gallary2{
   	display: block;/*gallary2 is shown in vertical manner */
   }
   form{
   	display: block;/*form is shown in vertical manner */
   }

   .terms{
   	display:flex;
   	flex-direction: column;
   }
   .terms .education{
   box-shadow: 2px 3px 3px;
   }
   .term2{
   	display:flex;
   	flex-direction: column;

   }
}
